body {
  background-image: url("./Images/39-398145_facebook-cover-photos-heaven.jpg");
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
